<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FirebirdSql.Data.FirebirdClient" version="5.8.0" targetFramework="net452" />
  <package id="MySql.Data" version="6.9.9" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package id="prmToolkit.AccessMultipleDatabaseWithAdoNet" version="1.0.2" targetFramework="net452" />
  <package id="prmToolkit.ArgumentsValidator" version="1.0.5" targetFramework="net452" />
  <package id="prmToolkit.EnumExtension" version="1.0.1" targetFramework="net452" />
</packages>